/*
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/


body {
    margin: 0;
}

#hero {
    background-image: url("images/Corunha.jpg");
    background-size: cover;
    color: #ffffff;
    text-shadow: 0 0 3px black;
    padding: 18px 0 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#header-title {
    background: #457B9D;
    padding: 6px 12px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#header-description {
    background: #1D3557;
    padding: 6px 12px;
    border-radius: 5px;
    margin-top: 0;
}

#activities {
    background: #F1FAEE;
    color: #1D3557;
    padding-bottom: 200px; 
}

.columns {
    display: flex;
    margin-top: 30px;
    border: 1px solid black;
}

#activities-title {
    margin: 0px;
    padding-top: 25px;
    text-align: center;
}

.activities-pic {
    width: 150px;
    border-radius: 50%;
}